/* Add a black background color to the top navigation */
.topnav {
  position: center;
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding: 14px 16px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}
/* Change the color of links on hover */
.topnav a:hover {
  color: rgb(243, 243, 243);
}


/* Centered section inside the top navigation */
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }

  h1 {
    text-align: center;
}
.footer {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
}